<!DOCTYPE html>
<html>
  <head>
    <title>Kriacoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success fixed-top notice-alert"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alert-danger fixed-top notice-alert"><%= alert %></div>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag params[:controller] %>
    <%= stylesheet_pack_tag params[:controller] %>
  </body>
</html>
