<!DOCTYPE html>
<html>
  <head>
    <title>Kriacoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success fixed-top notice-alert text-center"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger fixed-top notice-alert text-center"><%= alert %></div>
      <% end %>
    </div>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>

    <% begin %>
      <%= javascript_pack_tag params[:controller] %>
      <%= stylesheet_pack_tag params[:controller] %>
    <% rescue Webpacker::Manifest::MissingEntryError %>
      <% # Required for files that don't exist %>
    <% end %>
  </body>
</html>
