<!DOCTYPE html>
<html>
  <head>
    <title>Kriacoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'main' %>
    <%= javascript_pack_tag params[:controller] %>
  </body>
</html>
